// Colors
$black: #000000;
$white: #ffffff;
$green: #9ccd98;
$sky: #9fd1d6;
$orange: #fcc980;
$purple: #e0cce4;
$purple_light: #e0cce5;
$sky_light: #dcefee;
$orange_light: #feeca6;
$peach_light: #feeacf;

// Breakpoints
$xl: 1399.98px;
$lg: 1199.98px;
$md: 991.98px;
$sm: 767.98px;
$xs: 575.98px;