.section4 {
    // background: url("/html/images/section_4.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -10px;

    .title_h2 {
        text-align: left !important;
        color: #fff;
    }

    h3 {
        color: #1e1b15;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        margin-top: 80px;
    }
}

.t1 {
    color: #fff;
    font-size: 19px;
    padding: 0 0 13px 0;
}

.qt_text {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.qt_text-1 {
    color: #fff;
    text-align: center;
    padding: 30px 0 0 0;
    font-size: 20px;
}