.section3-logo {
    position: relative;
    background: #f7f9fb;
    @include padding-y(3rem, 3rem);

    .row {
        align-items: center;
    }

    h2.word-spae-para {
        font-size: 19px;
        font-weight: 700;
        color: #888;
        text-transform: uppercase;

        @include devices(md) {
            font-size: 1rem;
        }

        @include devices(sm) {
            font-size: 1.2rem;
        }
    }
}