.services-template{
    .services-left_block{
        // height:auto;
    }

    .services-main{
            position: relative;
        
            .contact-bg-1{
                background-image: url("../images/contact_1.svg");
                background-position:center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 447px;
                width: 570px;
                position: absolute;
                top: -21.4%;
                left: 69%;
            }
        
            .contact-bg-2{
                background-image: url("../images/contact_2.svg");
                background-position:center;
                background-repeat: no-repeat;
                background-size: 64% 100%;
                height: 338px;
                width: 378px;
                position: absolute;
                top: 52.5%;
                left: 57%;      
            }
        
            .contact-line-1{
                background-image: url("../images/contact-line1.svg");
                background-position:center;
                background-repeat: no-repeat;
                background-size: 95% 100%;
                height: 338px;
                width: 708px;
                position: absolute;
                top: 59.5%;
                left: -19px;
            }
        
            .contact-line-2{
                background-image: url("../images/contact-line2.svg");
                background-position:center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 248px;
                width: 338px;
                position: absolute;               
                top: 27.4%;
                left: 74%;
            }

            .demo-call{
                float:right;
                 margin:60px 75px;
            }

            
    }
}