.section3 {
    position: relative;

    &::after {
        @include pseudo("", 145px, 0, 25%, 35%);
        background-image: url(../images/section3-line.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .bg-img {
        pointer-events: none;

        img {
            position: absolute;

            &:first-child {
                top: 100px;
                left: -131px;
            }

            &:last-child {
                bottom: -160px;
                right: -100px;
            }
        }
    }

    .semi-font-text {
        width: 100%;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .features-row {
        margin-top: 5rem;
        align-items: center;
    }

    .leadGImg {
        img {
            filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.4));
        }
    }
}

.leadgenUl {
    display: grid;
    gap: 2rem;

    li {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        img {
            width: 32px;
        }

        strong {
            font-size: 1.1rem;
            font-weight: 800;
        }

        p {
            font-weight: bold;
            color: #333;
        }
    }
}