.section3 {
    position: relative;

    .bg-img {
        pointer-events: none;

        img {
            position: absolute;

            &:first-child {
                top: 100px;
                left: -131px;
            }

            &:last-child {
                bottom: -160px;
                right: -100px;
            }
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

.features-text {
    .semi-font-text {
        width: 100%;
        font-size: 1.1rem;
    }
}

.leadgenUl {
    display: grid;
    gap: 1rem;

    li {
        background: url('../images/stars.png');
        background-repeat: no-repeat;
        padding-left: 46px;

        strong {
            font-weight: 800;
        }
    }
}