.section3 {
    position: relative;

    &::after {
        @include pseudo("", 145px, 0, 25%, 35%);
        background-image: url(../images/section3-line.svg);
        background-repeat: no-repeat;
        background-size: contain;

        @include devices(xs) {
            display: none;
        }
    }

    .bg-img {
        pointer-events: none;

        img {
            position: absolute;

            &:first-child {
                top: 100px;
                left: -131px;
            }

            &:last-child {
                bottom: -160px;
                right: -100px;
            }
        }
    }

    .semi-font-text {
        width: 100%;
        margin-bottom: 0;
        margin-top: 0.9rem;

        @include devices(xs) {
            font-size: 0.9rem;
        }

        br {
            @include devices(xs) {
                display: none;
            }
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .features-row {
        margin-top: 5rem;
        align-items: center;

        @include devices(md) {
            gap: 4rem;
        }

        @include devices(xs) {
            margin-top: 3.3rem;
        }
    }

    .leadGImg {
        img {
            filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.4));
        }
    }
}

.leadgenUl {
    display: grid;
    gap: 2rem;

    @include devices(xl) {
        gap: 1.6rem;
    }

    @include devices(lg) {
        gap: 1.3rem;
    }

    @include devices(md) {
        gap: 1.5rem;
    }

    li {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        @include devices(md) {
            gap: 1.5rem;
        }

        @include devices(xs) {
            gap: 0.8rem;
        }

        div {
            &:first-child {
                width: 5%;
            }

            &:last-child {
                width: 95%;
            }
        }

        img {
            width: 32px;

            @include devices(xl) {
                width: 25px;
            }

            @include devices(lg) {
                width: 22px;
            }

            @include devices(md) {
                width: 30px;
            }
        }

        strong {
            font-size: 1.1rem;
            font-weight: 800;
            line-height: 1.3;

            @include devices(xl) {
                font-size: 0.95rem;
            }

            @include devices(lg) {
                font-size: 0.875rem;
            }

            @include devices(md) {
                font-size: 1.4rem;
            }

            @include devices(xs) {
                font-size: 1rem;
            }
        }

        p {
            font-weight: bold;
            color: #333;
            line-height: 1.3;

            @include devices(xl) {
                font-size: 0.9rem;
            }

            @include devices(lg) {
                font-size: 0.8rem;
            }

            @include devices(md) {
                font-size: 1.2rem;
            }

            @include devices(xs) {
                font-size: 0.9rem;
            }

            br {
                @include devices(sm) {
                    display: none;
                }
            }
        }
    }
}