footer {
    background: url(../images/footer.png);
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: bottom;
    background-position-y: 340px;
    padding-top: 8rem;

    .contact-wrapper {
        gap: 13rem;
    }

    .contact-text {
        // @include mx-auto();
        margin-top: 6rem;

        h5 {
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .contact-box {
        position: relative;
        // @include mx-auto();
        // &::before {
        //     @include pseudo($content: "", $top: 0, $left: 0, $width: 100%, $height: 100%);
        //     background-image: url(/html/images/OPSLABLE-LOGO.png);
        // }

        .contact-outer {
            border: 4px solid black;
            border-radius: 30px;
            text-align: center;
            overflow: hidden;

            img {
                position: absolute;
                top: 10px;
                left: -120px;
                width: 240px;
            }

            // &::before {
            //     position: absolute;
            //     content: "";
            //     left: 0px;
            //     top: 0px;
            //     background-image: url('../images/OPSLABLE-LOGO.png');
            //     width: 200px;
            //     height: 200px;
            // }

            h3.header-white {
                // height: 50px;
                // margin-bottom: 0px;
                border-bottom: 4px solid black;
                padding: 0.6rem 0.95rem;
                display: flex;
                align-items: center;
                justify-content: right;
                gap: 1rem;

                span.circle-span {
                    padding: 10px;
                    font-size: 0px;
                    border-radius: 50%;
                    border: 3px solid black;
                    // float: right;
                    // margin-right: 10px;

                    &.sky-circle {
                        background: #a0d2d6;
                    }

                    &.purple-circle {
                        background: #b183ba;
                    }

                    &.blue-cicle {
                        background: #2d2765;
                    }
                }
            }

            .contact-inner {
                background: #dcefee;
                padding: 1.6rem 1.4rem 2.5rem;

                h3.contact-title {
                    color: #1e1b15;
                    font-size: 35px;
                    margin-bottom: 25px;
                    font-weight: bold;
                    font-style: italic;
                }

                ul.contact-btns {
                    display: grid;
                    gap: 2.5rem;

                    li {
                        width: 100%;

                        a {
                            width: inherit;
                            padding: 0.6rem 0.3rem;
                            font-weight: 400;
                            font-size: 1.3rem;

                            &.star-bg {
                                // position: relative;

                                &.star-bg::after {
                                    background-image: url('../images/bg-star.png');
                                    content: "";
                                    position: absolute;
                                    right: -115px;
                                    top: 138px;
                                    width: 230px;
                                    height: 80px;
                                    background-repeat: no-repeat;
                                }
                            }

                            &.heart-bg {
                                // position: relative;

                                &.heart-bg::after {
                                    background-image: url('../images/bg-heart.png');
                                    content: "";
                                    position: absolute;
                                    left: -93px;
                                    top: 340px;
                                    width: 230px;
                                    height: 80px;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-section {
        text-align: center;
        font-size: 20px;
        color: black;
        line-height: 1.3;

        .container-fluid {
            @include padding-x(4rem, 4rem);
        }
    }

    .footer-section {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .container-fluid {
            @include padding-x(5rem, 5rem);
        }

        p {
            color: white;
            font-size: 1.2rem;
            font-weight: 100;
            padding-right: 90px;
        }

        h3 {
            color: white;
            font-style: italic;
            font-size: 26px;
            margin-top: 2.5rem;
            margin-bottom: 1.2rem;
        }

        a {
            color: white;

            &:hover {
                // color: #129740;
                color: #feeca6;
                // text-decoration: underline;

            }
        }

        ul.social-icons {
            display: flex;
            gap: 1rem;
            margin-top: 1.5rem;

            li {
                transition: transform 0.2s;

                &:hover {
                    transform: translateY(-3px);
                }
            }
        }

        ul.footer-links {
            display: grid;
            gap: 0.3rem;

            li {
                font-weight: 100;
                font-size: 1.1rem;

                a {
                    color: white;
                    transition: color 0.2s;

                    &:hover {
                        // color: #129740;
                        color: #feeca6;
                        // text-decoration: underline;
                    }
                }
            }
        }
    }
}