.main-hero {
    // background: #d8dce0;
    background-color: #EAEEEF;
    padding-bottom: 300px;
}

.hero-section {
    // background: #E3EEED;
    // background-color: #EAEEEF;
    height: 780px;
    position: relative;
    width: 100%;
    @include mx-auto();
    padding-top: 190px;

    @include devices(xl) {
        padding-top: 170px;
        height: 600px;
    }

    @include devices(lg) {
        height: 530px;
    }

    @include devices(md) {
        height: 974px;
    }

    @include devices(sm) {
        height: 910px;
    }

    @include devices(xs) {
        padding-top: 120px;
        height: 710px;
    }

    .hero-left {
        font-weight: bold;

        h1 {
            // font-style: italic;
            color: #030405;
            font-weight: bold;
            margin-bottom: 1.5rem;
            text-transform: uppercase;

            @include devices(xl) {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            @include devices(lg) {
                font-size: 1.7rem;
            }

            @include devices(md) {
                font-size: 2rem;
            }

            @include devices(xs) {
                font-size: 1.5rem;
            }

            span {
                // color: #129740;
                color: deeppink;
            }
        }

        p {
            color: #333;
            width: 580px;
            font-size: 1rem;

            @include devices(xl) {
                font-size: 0.92rem;
            }

            @include devices(lg) {
                width: 480px;
            }

            @include devices(md) {
                font-size: 1.1rem;
                width: 580px;
            }

            @include devices(xs) {
                font-size: 1rem;
                width: auto;
            }
        }

        .star-section {
            @include margin-y(2rem, 2rem);

            @include devices(xl) {
                @include margin-y(1.6rem, 1.6rem);
            }

            .stars {
                display: flex;
                gap: 0.8rem;
                margin-bottom: 12px;

                img {
                    width: 24px;
                    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.3));

                    @include devices(xl) {
                        width: 20px;
                    }
                }
            }
        }

        .watch-video {
            display: inline-flex;
            align-items: center;
            gap: 0.6rem;

            svg {
                width: 25px;

                @include devices(xl) {
                    width: 20px;
                }
            }

            span {
                text-transform: uppercase;
                font-size: 1.1rem;

                @include devices(xl) {
                    font-size: 0.95rem;
                }
            }

            &:hover {

                svg {
                    .cls-1 {
                        fill: #129740;
                    }

                }

                span {
                    color: #129740;
                }
            }
        }
    }

    .hero-img {
        position: relative;

        @include devices(md) {
            @include mx-auto();
        }

        .hand-img {
            margin-top: -50px;
            margin-left: 50px;
            object-fit: cover;
            position: relative;
            z-index: 1;

            @include devices(lg) {
                margin-left: 30px;
            }

            @include devices(lg) {
                margin: 0;
            }
        }

        // &::after {
        //     content: "";
        //     background-image: url(../images/banner-circle1.png);
        //     position: absolute;
        //     right: 0px;
        //     top: -90px;
        //     width: 750px;
        //     height: 100%;
        //     background-repeat: no-repeat;
        //     pointer-events: none;
        // }
    }
}