.main-hero {
    // background-color: #e9eeef;
    padding-bottom: 300px;
}

.hero-section {
    width: 100%;
    height: 748px;
    position: relative;
    @include mx-auto();
    padding-top: 190px;

    @include devices(xl) {
        padding-top: 170px;
        height: 565px;
    }

    @include devices(lg) {
        height: 500px;
    }

    @include devices(md) {
        height: 948px;
    }

    @include devices(sm) {
        height: 991px;
    }

    @include devices(xs) {
        padding-top: 120px;
        height: 713px;
    }

    .hero-left {
        font-weight: bold;

        h1 {
            font-style: oblique 14deg;
            font-family: $fonts-noto;
            color: #030405;
            font-weight: 600;
            margin-bottom: 1.5rem;
            text-transform: uppercase;

            @include devices(xl) {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            @include devices(lg) {
                font-size: 1.7rem;
            }

            @include devices(md) {
                font-size: 2rem;
            }

            @include devices(sm) {
                font-size: 2.8rem;
            }

            @include devices(xs) {
                font-size: 1.85rem;
            }

            span {
                color: #9fd1d6;

                @include devices(sm) {
                    font-size: 2.4rem;
                }

                @include devices(xs) {
                    font-size: 1.55rem;
                }
            }
        }

        p {
            color: #333;
            width: 580px;
            font-size: 1rem;
            line-height: 1.34;

            @include devices(xl) {
                font-size: 0.92rem;
            }

            @include devices(lg) {
                width: 480px;
            }

            @include devices(md) {
                font-size: 1.1rem;
                width: 580px;
            }

            @include devices(sm) {
                width: auto;
                line-height: 1.3;
            }

            @include devices(xs) {
                font-size: 0.9rem;
            }
        }

        .star-section {
            @include margin-y(2rem, 2rem);

            @include devices(xl) {
                @include margin-y(1.6rem, 1.6rem);
            }

            .stars {
                display: flex;
                gap: 0.8rem;
                margin-bottom: 12px;

                img {
                    width: 24px;
                    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.3));

                    @include devices(xl) {
                        width: 20px;
                    }
                }
            }
        }
    }

    .hero-img {
        position: relative;
        text-align: center;
        @include mx-auto();

        .hand-img {
            margin-top: -60px;
            margin-left: 4rem;
            object-fit: contain;
            position: relative;
            z-index: 1;

            @include devices(xl) {
                margin-left: 3rem;
            }

            @include devices(lg) {
                margin-left: 1.5rem;
            }

            @include devices(md) {
                margin-top: 0;
                margin-left: 0;
            }
        }

    }
}