.services-main{

    .services-logo-main{

        .services-tabbs{

            .lead-booster-block-container{

                .hide{
                    display:block;
                }

                .hide1{
                    display:none;
                }

                .active{
                    display:block;
                }
                
                .lead-booster-left{

                    .lead-booster-pro-section{
                        
                        .lead-booster-pro-strip{
                            .lead-booster-pro-strip22{
                                .btn{
                                    width: 283px;
                                    text-align: center;
                                }

                                .pink-btn{
                                    background-color:#f5b3d1;
                                    padding: 0px 88px;
                                    font-size: 31px;
                                    font-weight: bold;
                                    color: #000;
                                    line-height: 43px;
                                    position: relative;
                                }
                            }
                        }
                    }

                    .lead-booster-text{
                        .btn-text{
                            width: 100%;
                            text-align: right;
                            padding-left: 80px;
                            position: relative;
                            top: 2px;
                            left: -3px;

                            p{
                                &:first-child{
                                    color:#bd4560;
                                }

                                &:last-child{
                                    color:#feeca7;
                                }
                            }

                        }
                    }
                }
            }
            
        }
    }
}