.services-main{

    .services-logo-main{

        .services-tabbs{

            .lead-booster-block-container{

                .hide{
                    display:block;
                }

                .hide1{
                    background-color:#f5b3d1;
                    display:none;
                }

                .hide2{
                    background-color: #FFFF8F;
                    display:none;
                }

                .hide3{
                    background-color:#fcc980;
                    display:none;
                }

                .lead-booster-left{

                    .lead-booster-pro-section{
                        
                        .lead-booster-pro-strip{
                            .lead-booster-pro-strip22{
                                .pink-btn{
                                    background-color:#f5b3d1;
                                    padding: 0px 88px;
                                    font-size: 31px;
                                    font-weight: bold;
                                    color: #000;
                                    line-height: 43px;
                                    position: relative;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}