#why_opslabel {
    height: 100vh;
    overflow: hidden;
    position: relative;

    @include devices(md) {
        height: unset;
    }

    .services-left_block-logo {
        width: 200px;
        margin-left: 5rem;
        margin-top: 3rem;

        @include devices(xl) {
            width: 160px;
            margin-left: 4rem;
        }

        @include devices(lg) {
            width: 120px;
            margin-top: 6rem;
            margin-left: 2.5rem;
        }

        @include devices(md) {
            width: 100px;
            margin-left: 2rem;
        }

        @include devices(sm) {
            margin-top: 2rem;
            margin-left: 0.5rem;

            img {
                max-width: 90px;
            }
        }
    }

    .whyops-right-block {
        position: relative;
        width: 92.5%;
        height: 100%;
        margin-left: auto;
        background-color: #2a2a2a;
        display: grid;
        place-items: center;

        @include devices(md) {
            display: block;
        }

        .whyops_head_btn {
            position: absolute;
            top: 30px;
            right: 50px;
        }

        .whyops_content {
            margin-top: 1rem;

            @include devices(xl) {
                margin-top: 2rem;
            }

            @include devices(md) {
                margin-top: 0;
                padding-top: 8rem;
                padding-bottom: 2rem;
            }

            .whyops_row {
                align-items: center;
                justify-content: center;
                gap: 6rem;

                @include devices(xl) {
                    gap: 3rem;
                }

                @include devices(lg) {
                    gap: 0;
                }

                @include devices(md) {
                    gap: 4rem;
                }

                .whyops_left_col {
                    width: 38%;

                    @include devices(xl) {
                        width: 36.66%;
                    }

                    @include devices(md) {
                        width: 80%;
                    }
                }

                .whyops_img_box {
                    border: 5px solid #000;
                    border-radius: 10px;
                    overflow: hidden;

                    .whyops_head {
                        background-color: #f3f2ee;
                        border-bottom: 5px solid #000;
                        padding: 0.8rem 0.95rem;
                        display: flex;
                        align-items: center;
                        justify-content: right;
                        gap: 1rem;

                        @include devices(xl) {
                            @include padding-y(0.6rem, 0.6rem);
                        }

                        span.circle-span {
                            padding: 10px;
                            border-radius: 50%;
                            border: 3px solid black;

                            @include devices(xl) {
                                padding: 8px;
                            }

                            @include devices(md) {
                                padding: 10px;
                            }

                            @include devices(xs) {
                                padding: 7px;
                            }

                            &.sky-circle {
                                background: #a0d2d6;
                            }

                            &.purple-circle {
                                background: #b183ba;
                            }

                            &.blue-cicle {
                                background: #2d2765;
                            }
                        }

                    }

                    .whyops_img {

                        img {
                            @include img-fit();
                            object-fit: contain;
                        }
                    }
                }

                .whyops_text_box {
                    color: $white;
                    @include margin-x(1rem, 1rem);

                    h2 {
                        text-transform: uppercase;
                        margin-bottom: 0.5rem;
                        font-size: 3.5rem;

                        @include devices(xl) {
                            font-size: 2.2rem;
                        }

                        @include devices(lg) {
                            font-size: 1.8rem;
                        }

                    }

                    p {
                        font-size: 1.2rem;
                        line-height: 1.3;

                        @include devices(xl) {
                            font-size: 0.95rem;
                        }

                        @include devices(lg) {
                            font-size: 0.875rem;
                        }

                        br {
                            @include devices(sm) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .bg-img {

                @include devices(md) {
                    display: none;
                }

                img {
                    position: absolute;
                    pointer-events: none;

                    &:first-child {
                        width: 600px;
                        bottom: -200px;
                        right: -200px;

                        @include devices(xl) {
                            width: 450px;
                            bottom: -155px;
                            right: -150px;
                        }

                        @include devices(lg) {
                            width: 400px;
                        }
                    }

                    &:last-child {
                        width: 200px;
                        bottom: 0;
                        left: 590px;

                        @include devices(xl) {
                            width: 160px;
                            left: 380px;
                            bottom: -12px;
                        }

                        @include devices(lg) {
                            left: 220px;
                            bottom: 0;
                        }
                    }
                }

            }
        }
    }
}

.whyops_swiper {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 1rem;

    @include devices(xl) {
        margin-top: 0;
        padding-top: 1.5rem;
    }

    .swiper-slide {

        .box {
            @include margin-x(1rem, 1rem);
            color: $black;
            border: 4px solid $black;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 4.15) 4px 4px 0.6px;

            &:not(:last-child) {
                margin-bottom: 2rem;

                @include devices(xl) {
                    margin-bottom: 1.5rem;
                }
            }

            &.peach {
                background-color: $peach_light;
            }

            &.orange-light {
                background-color: $orange_light;
            }

            &.orange {
                background-color: $orange;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 2.4rem;
        top: 0;
        color: #fff;
        height: auto;

        &::after {
            content: '';
        }

        @include devices(xl) {
            font-size: 2rem;
            top: 8px;
        }
    }

    .swiper-button-prev {
        left: auto;
        right: 60px;
    }

    .swiper-button-next {
        right: 22px;
    }
}

.whyops_inner_swiper {

    .swiper-wrapper {
        align-items: center;
    }

    .swiper-slide {
        padding: 0.8rem 1rem;

        @include devices(xl) {
            @include padding-y(0.6rem, 0.6rem);
        }

        h4 {
            font-size: 1.3rem;
            font-weight: bold;
            text-transform: uppercase;
            line-height: normal;

            @include devices(xl) {
                font-size: 1.06rem;
            }

            @include devices(lg) {
                font-size: 1rem;
            }
        }

        p {
            font-size: 1rem;
            line-height: 1.3;

            @include devices(xl) {
                font-size: 0.9rem;
            }

            @include devices(lg) {
                font-size: 0.875rem;
            }
        }
    }

    .swiper-pagination {
        width: auto;
        left: auto;
        bottom: 3px;
        right: 10px;

        .swiper-pagination-bullet {
            background: #000;

            &:not(.swiper-pagination-bullet-active) {
                border: 2px solid #000;
                background: none;
                opacity: 0.3;
            }
        }
    }
}