.section5 {
    position: relative;

    .bg-img {
        position: absolute;
        top: -135px;
        right: -176px;
        pointer-events: none;
    }

    .container-fluid {
        position: relative;
        z-index: 1;
        @include padding-x(4rem, 4rem);
    }

    .works-title {
        position: relative;

        img {
            width: 20%;
            position: absolute;

            &:first-child {
                top: 0;
                left: 150px;
            }

            &:last-child {
                top: -40px;
                right: 150px;
            }
        }

        &+p {
            font-size: 1.1rem;
            margin-top: 0.8rem;
        }
    }

    .works_row {
        @include margin-y(8rem, 70px);
        justify-content: space-between;

        .col-md-3 {
            width: 27%;
        }

        .box {
            position: relative;
            margin-top: 50px;
            background: #ffffff;
            padding: 2.5rem 1.5rem 1.5rem;
            height: auto;
            border: 5px solid #030405;
            border-radius: 30px;
            filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.4));

            img.arrow-right {
                position: absolute;
                right: -100px;
                top: 115px;
                width: 65px;
            }

            .info_text {
                position: absolute;
                top: -46px;
                left: 0;
                right: 0;
                max-width: 80%;
                height: 80px;
                @include mx-auto();
                border: 4px solid black;
                border-radius: 24px;
                padding: 1rem 0.2rem 0.3rem;
                box-shadow: none;
                box-shadow: rgba(0, 0, 0, 4.15) 4px 4px 0.6px;
                text-align: center;
                @include centered();

                &.sky-btn {
                    background-color: #dcefee;
                }

                &.purple-btn {
                    background-color: #e0cce4;
                }

                &.orange-btn {
                    background-color: #feeca6;
                }

                span {
                    position: absolute;
                    top: -45px;
                    left: 0;
                    right: 0;
                    @include mx-auto();
                    background: black;
                    color: white;
                    width: 65px;
                    height: 65px;
                    font-weight: 600;
                    font-size: 42px;
                    font-style: italic;
                    border-radius: 50%;
                    align-items: center;
                    font-family: 'NotoSans';
                    padding-right: 7px;
                }

                h6 {
                    font-weight: bold;
                }
            }

            p {
                text-align: center;
                margin-top: 1.5rem;
                font-weight: bold;
            }
        }
    }
}