.section5 {
    background-image: url(../images/section_5.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -200px;

    .container-fluid {
        @include padding-x(4rem, 4rem);
    }

    .title_h2 {
        color: #000000;
        padding-top: 0;
    }

    &.services_sect {
        margin-top: 0;


        .row.ser_row {
            margin: 70px 0px !important;
            justify-content: space-between;

            .col-sm-4 {
                width: 28.333333%;
            }
        }

        .box {
            margin-top: 50px;
            background: #ffffff;
            padding: 30px 30px;
            position: relative;
            height: auto;

            img.arrow-right {
                position: absolute;
                right: -100px;
                top: 115px;
                width: 65px;
            }

            .btn {
                top: -44px;
                bottom: auto;
                max-width: 70%;
                padding: 33px 10px;
                height: 90px;
                font-size: 16px;
                line-height: 1.3;
            }

            p {
                min-height: auto;
                padding-top: 10px;
                text-align: center;
                line-height: 1.4;
                margin-top: 1.1rem;
                margin-bottom: 1rem;
            }

            p {
                span {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -78px;
                    margin: auto;
                    text-align: center;
                    background: black;
                    width: 65px;
                    height: 65px;
                    color: white;
                    font-weight: 600;
                    font-size: 48px;
                    font-style: italic;
                    z-index: 1;
                    display: flex;
                    border-radius: 50%;
                    align-items: center;
                    font-family: 'NotoSans';
                    justify-content: center;
                    padding-right: 10px;
                }
            }
        }
    }
}